@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family:
    Poppins,
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: skyblue;
}

.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  width: 100%;
  display: block;
  border: none;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 32px;
  box-shadow:
    10px 5px 10px #0b0b7afd,
    10px 10px 40px #3434c2cc;
}

.card {
  max-width: 800px;
  display: flex;
  padding: 3rem;
  margin: 0 1.5rem;
  box-shadow:
    0 5px 10px #3434c2cc,
    0 15px 40px #3434c2cc;
  border-radius: 20px;
  color: #05aef1;
  background-color: whitesmoke;
}

.avatar {
  border-radius: 50%;
  border: none;
  height: 150px;
  width: 150px;
  box-shadow:
    0 5px 8px #05aef1,
    0 5px 15px #3434c2cc;
}

.user-info {
  margin-left: 32px;
}

.user-info h2 {
  margin-top: 10px;
  font-size: 30px;
}

p {
  font-size: 18px;
}

.user-info ul {
  list-style-type: none;
  padding: 0;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}

.user-info ul a {
  list-style: none;
  text-decoration: none;
  color: #05aef1;
}

.user-info ul li strong {
  font-size: 18px;
  margin-left: 8px;
}

.repo {
  color: #e607079f;
  font-size: 15px;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.repos {
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .user-form {
    max-width: 400px;
  }
}
